/*External CSS */
.one {
    color: lightblue;
    background-color: black;
    margin-top: 50px;
    padding: -10px;
    text-align: center;
    opacity: 0.4;
}

.two {
    color: lightblue;
    background-color: black;
    margin-top: 50px;
    padding: -10px;
    text-align: center;
    opacity: 0.4;
}